body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
  


    .references {
            margin-top: 10px;

            h1{
                margin: 0 0 3vw 0;
                
                padding: 0;
                color: #000;
                font-size: 3vw;
                transition: 0.5s;
                }
        
            p{
                margin: 0;
                padding: 0;
                color: #000;
                transition: 0.5s;
                font-size: 1.5vw;
                }


            margin: 8vw auto;
            width: 80vw;
            box-sizing: border-box;
            .titre-references {
                width: 75vw;
                height: 8vh;
                text-align: center;
                margin-bottom: 2vh;
                h1 {
                    font-size: 4vw;
                    text-transform: uppercase;
                    padding-bottom: 15vh;
    
                }
                p {
                    color: white;
                }
     
            }
  

            h3 {
                font-size: 1.7vw;
                color: white;
                font-weight: bold;
            }

            .container_texterelatif {
                position: relative;
                display: flex; 
                flex-direction: row; 
                justify-content: center; 
                align-items: center;
                height: 500px;
                
                #description_references {
                    position: absolute;
                    z-index: 3;
                    width: 40vw;
                    text-align: justify;
                    top: 60%;
                    height: 24vh;
                    left: 30vw;
                    background-color:  rgb(0, 155, 108);
                    color: white;
                    padding: 5vw 5vw 5vw 5vw;
                    border-radius: 1.5vw;
                    overflow: hidden;
                    
                    margin-bottom: 5vh;
                }

                #description_references p {
                    color: white;
                    font-size: 16px;
                }

                .essai {
                    width: 45vw;
                    height: auto;
                    overflow: hidden;
                    margin-bottom: 5vh;
                    cursor: pointer;
                }

                img {
                    width: 45vw;
                    height: auto;
                    position: absolute;
                    top: 5vh;
                    z-index: 2;
                    left: 5vw;
                    border-radius: 2w;
                    overflow:hidden;
                }
            }

            .references_slogan {
                    
                    
                    color: white;
                    height: 70vh;
                    display: flex;
                    flex-direction: column; 
                    justify-content: center; 
                    align-items: flex-start;
                    padding-left: 5vw;
                    font-style: italic;
                    font-size: 4vw; 
                    transition: 0.5s;
                    transform: scale(1); 
                    background:linear-gradient(
                        rgba(0, 0, 0, 0.3), 
                        rgba(0, 0, 0, 0.3)
                        ), url("../images/referencesbackground.jpg");

                    background-size:cover;
                    background-position: center;
                    background-attachment:fixed;

                    &:hover {
                        
                        font-style: normal;
                        padding-left: 10%;
                        
                    }  
                  
                    
                   
                    .titre-references {
                        width: 100%;
                        height: 100px;
                        text-align: center;
             
                    }
                
                
                    h4 {
                            font-weight: 5vw;
                            text-transform: italic;
                        }
                  
                    }
                   
            }
     

            .container_references{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items : center;
                flex-wrap: wrap;
                width: 80vw;
                margin-top: 5vh;

                .reference {
                    width: 23vw;
                    height: auto;
                    border-radius: 5px;
                    margin: 10px;
                    position: relative;
                    transition: opacity 0.2s, scale 0.2s, background-color 1s;
                    
                    &:hover .textereference {
                        opacity: 1;
                        color: white;
                        border-radius: 10px;
                    }

                    &:hover .textereference p {
                        color:white;
                    }

                    &:hover img{
                        opacity: 0.4;
                        scale: 1;
                        border-radius: 6%;
                       
                    }
                    &:hover {
                        background-color: #04151F;
                       
                    }
                   

                    .textereference {
                        position: absolute;
                        z-index: 2;
                        top: 5%;
                        left:5%;
                        opacity: 0;
                        color: white;
                    }

                    img {
                        width: 100%;
                        scale: 0.8;
                      
                    }
                }

            }
        }
    

   





@media screen and (max-width: 640px) {
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        transition: 0.5s;
        
    
        .content{
        margin: 8vw auto;
        width: 80vw;
            h1{
            margin: 0 0 3vw;
            padding: 0;
            color: #000;
            font-size: 3vw;
            transition: 0.5s;
            }
    
            p{
            margin: 0;
            padding: 0;
            color: #000;
            transition: 0.5s;
            font-size: 1.5vw;
            }
    
            .references {
                box-sizing: border-box;
                .titre-references {
                    width: 80vw;
                    height: 8vh;
                    text-align: center;
                    margin-bottom: 2vh;
                    h1 {
                        font-size: 4vw;
                        text-transform: uppercase;
        
                    }
                    p {
                        color: white;
                    }
         
                }
      
    
                h3 {
                    font-size: 1.7vw;
                    color: white;
                    font-weight: bold;
                }
    
                .container_texterelatif {
                    position: relative;
                    display: flex; 
                    flex-direction: column; 
                    justify-content: center; 
                    align-items: center;
                    height: 500px;
                    
                    #description_references {
                        position: absolute;
                        z-index: 3;
                        width: 50%;
                        text-align: justify;
                        top: 50vh;
                        height: 24vh;
                        left: 30vw;
                        background-color: #CE4E45;
                        color: white;
                        padding: 5vw 5vw 5vw 5vw;
                        border-radius: 5px;
                        overflow: hidden;
                        font-weight: 1.5vw;
                    }
    
                    .essai {
                        width: 60vw;
                        height: auto;
                        overflow: hidden;
                    }
    
                    img {
                        width: 60vw;
                        height: auto;
                        position: absolute;
                        top: 5vh;
                        z-index: 2;
                        left: 6vw;
                        border-radius: 2w;
                        overflow:hidden;
                    }
                }
    
                .references_slogan {
                        
                   
                        color: white;
                        height: 70vh;
                        display: flex;
                        flex-direction: column; 
                        justify-content: center; 
                        align-items: flex-start;
                        padding-left: 5vw;
                        font-style: italic;
                        font-size: 4vw; 
                        transition: 0.5s;
                        transform: scale(1); 
    
                        &:hover {
                            
                            font-style: normal;
                            padding-left: 10%;
                            
                        }  
                      
                        
                       
                        .titre-references {
                            width: 100%;
                            height: 100px;
                            text-align: center;
                 
                        }
                    
                        background:linear-gradient(
                            rgba(0, 0, 0, 0.3), 
                            rgba(0, 0, 0, 0.3)
                            ), url("../images/referencesbackground.jpg");
    
                        background-size:cover;
                        background-position: center;
                        background-attachment:fixed;

                        h4 {
                                font-weight: 5vw;
                                text-transform: italic;
                            }
                      
                        }
                       
                }
         
    
                .container_references{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items : center;
                    flex-wrap: wrap;
                    width: 80vw;
                    margin-top: 5vh;
    
                    .reference {
                        width: 50vw;
                        height: auto;
                        border-radius: 5px;
                        margin: 10px;
                        position: relative;
                        transition: opacity 0.2s, scale 0.2s, background-color 1s;
                        
                        &:hover .textereference {
                            opacity: 1;
                            color: white;
                        }
    
                        &:hover .textereference p {
                            color:white;
                        }
    
                        &:hover img{
                            opacity: 0.4;
                            scale: 1;
                        }
                        &:hover {
                            background-color: #04151F;
                        }
                       
    
                        .textereference {
                            position: absolute;
                            z-index: 2;
                            top: 5%;
                            left:5%;
                            opacity: 0;
                            color: white;
                            h3 {
                                font-size: 3.5vw;
                            }
                            p {
                                font-size: 2.5vw;
                            }
                        }
    
                        img {
                            width: 100%;
                            scale: 0.8;
                          
                        }
                    }
    
                }
            }
        
    }
     
}
