
.titre-nabil{
  text-align: center;
  width: 80vw;
  height: 10vh;
  color: black;
  margin-bottom: -1.5vh;
  margin-top: -9vh;
  font-size: 2.3vw;
  text-transform: uppercase;
}


#solutions-digitales {
  margin-top: 5vh;
}

.card h3{
 color: black;
}

.text-card p {
  color: black;
}


.parallax-section{
  background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/parallax.jpg"); 
  background-size:cover; 
  background-position: center; 
  background-attachment:fixed;
  height:80vh;
  display: flex;
  flex-direction: row; 
  justify-content:center;
  align-items: flex-start;
}

.parallax-section h1 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 50%;
  padding-left: 5%;
}



.solutions2{
  width: 80vw
}

.solutions2-titre{
  padding-top: 3vw;
  width: 80vw;
  letter-spacing: 0,8vw;
  text-transform: uppercase;
  text-align: center;
  margin-top:5vw;

  h2 {
    color: #009B6C;
    border: 0px 0px 2px 0px; 
    border-color: white;
    

  }
  &:hover h2{
      text-shadow: none;
    }
  }


.container-cards {
  height: 70vh;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.card {
  border-radius: 1vw;
  width: 20vw;
  margin: 5vw 2,5VW 0 2vw;
  transition: all 1s;
<<<<<<< HEAD
  transform: scale(1);
  &:hover  {
    animation: nab 8s;
    -webkit-animation: nab 8s;
    position: relative;
    transform: scale(1.3);
    transition: 1s;
    z-index: 1;
    text-shadow: none;
  }
 
 .title-card {
=======
.title-card {
>>>>>>> e17c0644358fc1c3b644cc5dcb05f44fff8bcf74
  padding: 2,9vw 0;
  font-size: 2vw;
  margin: 0,5vw 5vw;
  text-align: center;
<<<<<<< HEAD
  &:hover {
    text-shadow: none;
  }

  .title-under-card {
=======
}
.title-under-card {
>>>>>>> e17c0644358fc1c3b644cc5dcb05f44fff8bcf74
  margin: 0 4vw 1vw 4vw;
  font-size: 1vw;
  text-align: center;
  }

.text-card {
  margin: 0 1vw 0,5vw 4vw;
  font-size: 1.5vw;
  text-align: center;
}


.container-img{
  margin-left: 4vw;
  img{
    margin-right: 2.5vw;
  width:10vw;
  }
}
}
  

.card:hover{
  animation: nab 8s;
  -webkit-animation: nab 8s;
  position: relative;
  transform: scale(1.3);
  transition: 1s;
  z-index: 1;
}


.solutions4{
  width: 80vw;
  height: 25vh;
  padding-top: 4vh;
  text-align: center;
  font-size: 4vw;
  p{
  margin: 3vw 5vw 4vw 5vw;
  text-align: center;
  }
  h2{
    color: tomato;
  }
}

.solutions5 #fr{
    position:relative;
    width: 80vw;
    height: 90vh;
    .solutions5-bloc1 #fr{
      top: 17vh;
      left: 7vw;
      position: absolute;
      width: 35vw;
      height: 35vh;
      border-radius: 1vw;
      background-color:rgb(0, 155, 108);
      z-index: 1;
      .solutions5-p2 #fr{
        color: white;
        margin: 2.5vw 3vw 0 3vw;
        font-size: 1.3vw;
      }
    }
  .solutions5-bloc2 #fr{
    top: 45vh;
    left: 37vw;
    position: absolute;
    width: 35vw;
    height: 35vh;
    background-color: white;
    border-radius: 1vw;
    background-image: url("../images/informatique.jpg");
  }
}



.parallax-section{
  margin-top:-5vw;
  height: 70vh;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 80vw;
  position: relative;
  background-color:rgba(0,0,0,0.3);
  h1{
    margin-top: 0;
    font-size: 3vw;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
  }
  


  .image-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 70vh;
    width: 80vw;
    &.parallax1{
      background-attachment: fixed;
      background-image: url("../images/parallax4.jpg");
    }
  }
}


}