body{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  
}

 



.solutions2{
  width: 80vw;
}

.solutions2-titre{
  padding-top: 3vw;
  color: black;
  letter-spacing: 0,8vw;
  text-align: center;

}

.container-cards {
  height: 70vh;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.card {
  border-radius: 1vw;
  width: 20vw;
  margin: 5vw 2,5VW 0 2vw;
.title-card {
  padding: 2,9vw 0;
  font-size: 2vw;
  margin: 0,5vw 5vw;
  text-align: center;
}
.title-under-card {
  margin: 0 11vw 1vw 9vw;
  font-size: 1vw;
  text-align: center;
}

.text-card {
  margin: 0 1vw 0,5vw 4vw;
  font-size: 1,5vw;
  text-align: center;
}}


.container-img{
  margin-left: 4vw;
}


.solutions4{
  width: 80vw;
  height: 25vh;
  padding-top: 4vh;
  text-align: center;
  font-size: 2vw;
  p{
  margin: 3vw 5vw 4vw 5vw;
  text-align: center;
}
h2{
    color: tomato;
  }
}

.solutions5{
    position:relative;
    width: 80vw;
    height: 90vh;
}

.solutions5-bloc1{
    top: 17vh;
    left: 7vw;
    position: absolute;
    width: 35vw;
    height: 35vh;
    border-radius: 1vw;
    background-color: #ecf0f1;
    z-index: 1;
}

.solutions5-p2{
  color: tomato;
  margin: 1vw 3vw 0 3vw;
  font-size: 0,5vw;

  }


.solutions5-bloc2{
  top: 45vh;
  left: 37vw;
  position: absolute;
  width: 35vw;
  height: 35vh;
  background-color: white;
  border-radius: 1vw;
  background-image: url("../images/informatique.jpg");
}



.parallax-section{
  height: 70vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  h1{
    margin-top: 0;
    font-size: 3rem;
    font-style: italic;
    background-color: #2c3e50;
  }


  .image-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 70VH;
    width: 80VW;
    &.parallax1{
      background-attachment: fixed;
      background-image: url("../images/parallax4.jpg");
    }

  }
}


